* {
  margin: 0;
  padding: 0;
} 
a { 
  color: inherit; 
  text-decoration:none;
} 
.appHeader{
  width: 100%;
  height: 200px;
  background: silver;
}
.appHeaderText{
  padding-top: 60px; 
  margin-left : 225px;
}
.apptitle{
  color : black;
  text-align: left;
  font-size: 40px;
}
.appSlogan{
  color: black;
  font-size: 25px;
  margin-top: 10px;
}
nav ul li a {
  text-align: center;
  padding: 12px;
  display: block;
  padding: 16px 40px 16px 40px;
}
nav{
  border: 1px solid red;
}
main{
  padding:10px;
  float: none;
  clear: both; 
}

.navItem {
  border-right: 1px dotted black;   
  margin-right: -5px;
  display: inline-block;
  width: 12.5%;
  box-sizing: border-box;
}
nav ul :last-child{
  border-right: none;
}

.logo{
  float: left;
  padding-left: 20px;
  padding-top: 18px;
  height: 150px;
  width: 150px;
}

.leftContainer{
  width: 15%;
  float: left;
  margin-right : 3%;
}
.rightContainer{
  width: 80%;
  float: right;
}

.menuTitle{
  font-size: 20px;
}

.menuItems{
  border:1px solid black;
}

.menuItems ul{
  list-style: none;
}

.menuItems ul li{
  padding-left: 10px;
}

.galleryTitle{
  font-size: 35px;  
  font-family: cursive;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

.galleryContent{
  padding-top: 15px;
  padding-bottom : 15px; 

}
.gallerySection{
  border-bottom: 1px solid black;
}

div.readmore {
  margin-top: 20px;
}

div.otherSection{
  margin-top: 20px;
  margin-bottom: 40px;
}
nav.navigationBar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: silver;
}
.parentContainer{
  clear:both;
}
.listItem{
  margin: 10px;
  padding-left: 10px;
}
.listItem ul li{
  margin-bottom: 7px;
}
.blockList{
  margin: 10px 0 10px 0px;
}